.header{
    width:100%;
    height:.49rem;
    position: fixed;
    left:0;
    top:0;
    background-image: linear-gradient(90deg,#0af,#0085ff);
    font-size: .3rem;
    color:#fff;
    z-index: 10000;
}
.header .goBack{
    line-height: .49rem;
    position: absolute;
    padding-left: 20px;
    
}
.header .title{
    width:100%;
    text-align: center;
    height:100%;
    line-height: .49rem;
    font-size: .16rem;
}

